li{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 3rem auto;
  div{
    width: 20%;
    height: 2rem;
    color: #3b41c6;
  }
  a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: 100%;
  }
}
